/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #1f1d1d;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    
}

/* Header Styles */
header {
    background: url("about_us.png");
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 80px 0;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    margin: 10px 0 20px;
}

.cta-button {
    display: inline-block;
    background: white;
    color: #275e33;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
}

.cta-button:hover {
    background: #4c45af;
    color: white;
}



/* Benefits Section */
#benefits {
    padding: 40px 0;
    background: #f4f4f4;
    text-align: center;
}

#benefits h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

/* Table Styles */
table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

thead {
    background: #4c45af;
    color: white;
}

thead th {
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #8b8b8b;
}

tbody tr:hover {
    background: #f9f9f9;
}

tbody tr:last-child td {
    border-bottom: none;
}

td {
    text-align: left;
}

@media (max-width: 600px) {
    table {
        font-size: 0.9rem;
    }
}


/* Contact Form */
#contact {
    padding: 40px 0;
    text-align: center;
}

#contact h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

form {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background: #4c45af;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

form button:hover {
    background: #4c45af;
}

/* Footer Styles */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
